<% if @purge_conf == true -%>
rm /files<%= @conf %>/dict/*
<% end -%>
<% @override_options.each do |section_name, section_content| -%>
set /files<%= @conf %>/dict/entry[ . = '<%= section_name %>'] '<%= section_name %>'
  <% section_content.each do |key, value| -%>
set /files<%= @conf %>/dict/entry[ . = '<%= section_name %>']/dict/entry[ . = '<%= key %>'] '<%= key %>'
    <% case value
         when String
           if key.casecmp("SMTPPort") == 0
             type = "string"
           elsif value =~ /\A[-+]?[0-9]*\.?[0-9]+\Z/
             type = "number"
           else
             type = "string"
           end
         when Fixnum
           type = "number"
         when TrueClass, FalseClass
           type = "const"
         when Array
           type = "array"
       end
       if type != "array" -%>
set /files<%= @conf %>/dict/entry[ . = '<%= section_name %>']/dict/entry[ . = '<%= key %>']/<%= type %> "<%= value %>"
    <% else -%>
rm /files<%= @conf %>/dict/entry[ . = '<%= section_name %>']/dict/entry[ . = '<%= key %>']/array
      <% value.each do |element|
           case element
             when String
               element_type = "string"
             when Fixnum
               element_type = "number"
           end -%>
set /files<%= @conf %>/dict/entry[ . = '<%= section_name %>']/dict/entry[ . = '<%= key %>']/array/<%= element_type %>[last()+1] "<%= element %>"
      <% end
       end
     end
   end -%>